//
body{
    height: 100%;
}
div#cab{
    max-width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #002d6e;
    border-radius: 10px;
    margin: 0 auto;
    top: 1%;
    margin-top:10px; 
    position: static;
    width:99%;
    height:200px;
    background: #002d6e;
    
}
div#corpo{
    max-width: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #002d6e;
    border-radius: 10px;
    margin-top:0.5%;
    margin-left: 0.5%; 
    position: relative;
    width:99%;
    height:100%;
    
}

div#cplog{
    max-width: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #002d6e;
    border-radius: 10px;
    //margin: 0 auto;
    margin-top:0.5%;
    margin-left: 69.5%; 
    position: relative;
    width:30%;
    height:100%;
    
}

div#principal{
    max-width: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    margin-top:0.5%;
    margin-left: 0.5%; 
    position: relative;
    width:99%;
    height:100%;
    
}

form#interno{
    left:5%;
    margin-top: 1%;
    position:relative;
    width:90%; /* Valor da Largura */
    height:100%; /* Valor da Altura */
    font-family: Arial, Helvetica, sans-serif;
}
h1#titulo{
    color: #ffffff;
    text-align: left;
    position: relative;
    left: 6%;
    //margin-top: 3%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
img#logo{
    float: left;
    width: 150px;
    height: 150px;
    margin-top: 2%;
    left: 3%;
    position: relative;
}
button#cadastro{
    background-color: #002d6e;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:1%;
}

button#cadlog{
    background-color: #002d6e;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
}

a#CadItem:link, a#CadItem:visited {
    background-color: #002d6e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //left: 38%;
    margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 200px;
}

a#CadItem:hover, a#CadItem:active {
    background-color: blue;
    //left: 38%;
    margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 200px;
}

a#BtnSair:link, a#BtnSair:visited {
    background-color: #002d6e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //left: 38%;
    //margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 100px;
}

a#BtnSair:hover, a#BtnSair:active {
    background-color: blue;
    //left: 38%;
    //margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 100px;
}

div#btnmenu{
    margin-left:1%;
    margin-top: 0.5%;
}

div#btncad{
    width:80%;
}

.cabecalho{
    background-color: #1861c7;
    color: #fff;
    font-weight: bold;
    border-width: 5px;
    border-style: solid;
    border-color: #002d6e;
    text-align: center;
}

.item{
    border-width: 5px;
    border-style: solid;
    border-color: #002d6e;
    text-align: center;

}

.itens{
    margin-top: 2%;
    margin-bottom: 2%;
}

a#BtnSairCad:link, a#BtnSairCad:visited {
    background-color: #002d6e;
    color: #fff;
    padding: 6px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //left: 38%;
    //margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    width: 100px;
    height: 35px;
}

a#BtnSairCad:hover, a#BtnSairCad:active {
    color: #fff;
    background-color: blue;
    //left: 38%;
    //margin:0 auto;
    margin-top: 0.5%;
    margin-bottom: 0.5%; 
    padding: 6px 25px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    width: 100px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}